<a href="https://colab.research.google.com/github/PratikGadekar-creator/Customer_Behaviour_Analysis/blob/main/DA_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [47]:
import pandas as pd

df=pd.read_csv("/content/customer_shopping_behavior.csv")

In [48]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [49]:
df.info() #to know the overall structure of an dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [50]:
df.describe(include="all")   #it will give the summary statistics of the both numerical and categorical values.

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [51]:
df.isnull().sum()  #to check missing values /null values

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [52]:
df['Review Rating'] =df.groupby('Category')['Review Rating'].transform(lambda x:x.fillna(x.median()))

In [53]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [54]:
df.columns= df.columns.str.lower() #snakecasing =converting col_name into lowercase and using "_" instead of space
df.columns =df.columns.str.replace(" ","_") #this make our code readale and consistent.
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [55]:
df=df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [56]:
#create a column age group

labels=["Young_adult","Adult","Middle_aged","Senior"]
df['age_group']=pd.qcut(df['age'],q=4,labels=labels)

In [57]:
#create a column purchase_frequency_days

frequency_mapping={
    'Fortnightly': 14,
    'Weekly' :7,
    'Monthly':30,
    'Quarterly':90,
    'Bi-Weekly':14,
    'Annually':365,
    'Every 3 Months':90
}
df['purchase_frequency_days']=df['frequency_of_purchases'].map(frequency_mapping)
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [58]:
df[['discount_applied','promo_code_used']].head()

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes

In [59]:
(df['promo_code_used']==df['discount_applied']).all() #both the columns include exactly the same information ,
                                                      #so we remove one of the column.

np.True_

In [60]:
df=df.drop('promo_code_used',axis =1)

In [61]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [62]:
import sqlite3

conn = sqlite3.connect('customer_behaviour')   # in-memory database

In [63]:
df.to_sql('customers', conn, index=False, if_exists='replace')

3900

In [64]:
pd.read_sql("SELECT * FROM customers", conn)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle_aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young_adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle_aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young_adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle_aged,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,32,Venmo,Weekly,Adult,7
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,41,Bank Transfer,Bi-Weekly,Middle_aged,14
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,24,Venmo,Quarterly,Middle_aged,90
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,24,Venmo,Weekly,Adult,7
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,33,Venmo,Quarterly,Middle_aged,90

In [65]:
#Q1) what is the total revenue generated by male vs female customers

query= '''
    SELECT gender, SUM(purchase_amount) as revenue
    from customers
    GROUP BY gender;
    '''
pd.read_sql(query,conn)

   gender  revenue
0  Female    75191
1    Male   157890

In [66]:
#q2) which customer used a discount but still spent more than the average purchase amount .

query='''
    SELECT customer_id,purchase_amount
    FROM customers
    WHERE discount_applied='Yes' and purchase_amount >=(select AVG(purchase_amount) from customers)
'''
pd.read_sql(query,conn)

     customer_id  purchase_amount
0              2               64
1              3               73
2              4               90
3              7               85
4              9               97
..           ...              ...
834         1667               64
835         1671               73
836         1673               73
837         1674               62
838         1676               90

[839 rows x 2 columns]

In [67]:
#Q3) which are the top 5 products with highest average ratings
query='''
    SELECT item_purchased, ROUND(AVG(review_rating),2) as "Average_Product_rating"
    FROM customers
    GROUP BY item_purchased
    ORDER BY "Average_Product_rating" DESC
    LIMIT 5
'''
pd.read_sql(query,conn)

  item_purchased  Average_Product_rating
0         Gloves                    3.86
1        Sandals                    3.84
2          Boots                    3.82
3            Hat                    3.80
4        T-shirt                    3.78

In [68]:
#compare the average purchase amount between standerd and express shipping

query='''
    SELECT shipping_type, ROUND(AVG(purchase_amount),2)
    FROM customers
    WHERE shipping_type in ('Standard','Express')
    GROUP BY shipping_type
'''
pd.read_sql(query,conn)

  shipping_type  ROUND(AVG(purchase_amount),2)
0       Express                          60.48
1      Standard                          58.46

In [69]:
#Q5)do subscribed customers spend more? comapre spend and
#total revenue between subscribers and non-subscribers

query='''
    SELECT subscription_status, ROUND(AVG(purchase_amount),2) as "Average_spend",
    SUM(purchase_amount) as "Total_revenue"
    FROM customers
    GROUP BY subscription_status
    ORDER BY "Average_spend", "Total_revenue" DESC
'''
pd.read_sql(query,conn)

  subscription_status  Average_spend  Total_revenue
0                 Yes          59.49          62645
1                  No          59.87         170436

In [70]:
#Q6)which 5 products have the highest percentage of purchase with discount applied?

query = '''
SELECT item_purchased,
       ROUND(
           SUM(CASE WHEN discount_applied = 'Yes' THEN 1 ELSE 0 END) * 100.0
           / COUNT(*),
           2
       ) AS discount_rate
FROM customers
GROUP BY item_purchased
ORDER BY discount_rate DESC
LIMIT 5
'''
pd.read_sql(query, conn)

  item_purchased  discount_rate
0            Hat          50.00
1       Sneakers          49.66
2           Coat          49.07
3        Sweater          48.17
4          Pants          47.37

In [71]:
#Q7)segment customers into new ,returning and loyal based on their total number of purchases
# and show the count of each segment

query = '''
with customer_type as(
  select customer_id,previous_purchases,
  case
    when previous_purchases = 1 then 'New'
    when previous_purchases between 2 and 10 then 'Returning'
    else 'Loyal'
    end as customer_segment
    from customers

)

select customer_segment, count(*) as "Number_of_customers"
from customer_type
group by customer_segment
'''
pd.read_sql(query,conn)

  customer_segment  Number_of_customers
0            Loyal                 3116
1              New                   83
2        Returning                  701

In [72]:
query='''
with item_counts as (
  select category,
  item_purchased,
  count(customer_id) as "Total_orders",
  row_number() over (partition by category order by count(customer_id) desc) as item_rank
  from customers
  group by category,item_purchased
)
  select item_purchased,category,item_purchased,total_orders
  from item_counts
  where item_rank<=3
'''

pd.read_sql(query,conn)

   item_purchased     category item_purchased  Total_orders
0         Jewelry  Accessories        Jewelry           171
1      Sunglasses  Accessories     Sunglasses           161
2            Belt  Accessories           Belt           161
3           Pants     Clothing          Pants           171
4          Blouse     Clothing         Blouse           171
5           Shirt     Clothing          Shirt           169
6         Sandals     Footwear        Sandals           160
7           Shoes     Footwear          Shoes           150
8        Sneakers     Footwear       Sneakers           145
9          Jacket    Outerwear         Jacket           163
10           Coat    Outerwear           Coat           161

In [73]:
#Q9)  ARE CUSOMERS ARE REPEAT BUYERS(MORE THEN 5 PURCHASES ) ALSO LIKELY TO SUBSCRIBE?

query='''
select subscription_status,
count (customer_id) as repeat_buyers
from customers
where previous_purchases>5
group by subscription_status
'''
pd.read_sql(query,conn)

  subscription_status  repeat_buyers
0                  No           2518
1                 Yes            958

In [74]:
query='''

select age_group,
sum(purchase_amount) as total_revenue
from customers
group by age_group
order by total_revenue desc
'''
pd.read_sql(query,conn)

     age_group  total_revenue
0  Young_adult          62143
1  Middle_aged          59197
2        Adult          55978
3       Senior          55763

In [75]:
df.to_csv("final_customer_data.csv", index=False)